<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HTML page</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <h1>Screenshot app</h1>
    <form action="/screenshot" method="post">
        <button onclick="takeScreenshot()">Take Screenshot</button>
    </form>
    <script src="/javascripts/script.js"></script>
</body>
</html>